# <center>2) Tweets<center>
### <center>Uc Kantun Orlando de Jesus, Cortés Montes Enrique Eduardo <center>
#### <center>Stock Movement Prediction from Tweets and Historical Prices<center>

Se clasifican los tweets con sus respectivos targets y se crea una tabla.

In [2]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [3]:
# Librerias
import os
import pandas as pd
import numpy as np
import json

In [4]:
# path
direction_tweets="/content/gdrive/MyDrive/Proyecto_CD2/tweets/"

In [5]:
# Funcion que pone las categorias con fechas y el nombre de la empresa 
# a cada tweet
def text_and_categories(cat_dir):
  dat = []
  data_dir = cat_dir
  category_index = {}
  categories = []
  id=[]
  for i in os.listdir(data_dir):
    k=data_dir+"{}".format(i)
    for j in os.listdir(k):    
      with open (k+"/{}".format(j), 'r') as f:
        for l in f.readlines():
          if not l.strip ():
            continue
          json_data = json.loads (l)
          dat.append(json_data)
          categories.append(i)
          id.append(j)

  return categories, id,dat

In [6]:
# Se corre la función
Q,y,u=text_and_categories(direction_tweets)

In [7]:
# Se toman solo los textos
e=[]
for i in range(len(u)):
  e.append(u[i]["text"])

In [8]:
# Se realiza un dataframe con el "Company","Date" y el "text"
S=pd.DataFrame({ "Company":Q,
                "Date":y,
                "Text":e
    
})

In [9]:
# El dataframe se gurda en un archivo .csv
import csv
S.to_csv("/content/gdrive/MyDrive/Proyecto_CD2/"+"Tweets_y.csv")

In [10]:
# Extrayendo las tablas de nuestro drive
Indicador=pd.read_csv("/content/gdrive/MyDrive/Proyecto_CD2/Indicador.csv")
Tweets=pd.read_csv("/content/gdrive/MyDrive/Proyecto_CD2/Tweets_y.csv")

In [11]:
Indicador.head()

   Unnamed: 0  Unnamed: 0.1        Date Company  y
0           0          1256  2012-09-05       -  -
1           1          1255  2012-09-06     DUK  1
2           2          1254  2012-09-07     DUK  0
3           3          1253  2012-09-10     DUK  1
4           4          1252  2012-09-11     DUK  0

In [12]:
Tweets.head()

   Unnamed: 0  ...                                               Text
0           0  ...  ['rt', 'AT_USER', '5', 'safe', 'large', 'cap',...
1           1  ...  ['$', 'bbl', '-', 'australian', 'shares', 'fal...
2           2  ...  ['$', 'bbl', 'asian', 'shares', 'mixed', 'as',...
3           3  ...  ['$', 'bbl', 'asian', 'shares', 'mixed', ';', ...
4           4  ...  ['$', 'bbl', 'utilities', 'feel', 'pressure', ...

[5 rows x 4 columns]

In [13]:
# Uninendo las tablas en donde deben de coincidir tanto la 
# companhia como la fecha y su respectivo target y
result = pd.merge(Tweets,
                 Indicador[["Date","Company","y"]],
                 on=['Date',"Company"])

   Unnamed: 0 Company  ...                                               Text  y
0           0     BBL  ...  ['rt', 'AT_USER', '5', 'safe', 'large', 'cap',...  1
1           1     BBL  ...  ['$', 'bbl', '-', 'australian', 'shares', 'fal...  1
2           2     BBL  ...  ['$', 'bbl', 'asian', 'shares', 'mixed', 'as',...  0
3           3     BBL  ...  ['$', 'bbl', 'asian', 'shares', 'mixed', ';', ...  1
4           4     BBL  ...  ['$', 'bbl', 'utilities', 'feel', 'pressure', ...  0

[5 rows x 5 columns]

In [15]:
# El resulatdo del dataframe se guarda en un archivo .csv
# para poder usarlo posteriormente
result.to_csv("/content/gdrive/MyDrive/Proyecto_CD2/resultado.csv")